.countDownTimer{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputs{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
}

.inputs input{
    max-width: 100px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer{
    display: flex;
    gap: 8px;
}

.footer button{
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 4px;
}